.book-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.book-table th, .book-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.member-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.member-table th, .member-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
} 

